#content {
    padding: 0 15px;
    height:100%;
}

.eta-task-checkbox {
    float: left;
}

.eta-task-done {
    text-decoration: line-through;
    display: block;
}

.eta-task-delete {
    cursor: pointer;
    line-height:72px;
    padding-top: 2px;
}

.selected-nav-item {
	background: #eee;
}

.ng-animate {
    transition:0s none;
    -webkit-transition:0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

md-list {
    padding: 0;
}

.task-name {
    margin:18px 0 0 0 !important;
}